delta-spark==3.2.0
importlib_metadata==8.5.0
numpy==1.26.4
pandas==2.2.3
py4j==0.10.9.7
pyarrow==18.0.0
pyspark==3.5.3
python-dateutil==2.9.0.post0
pytz==2024.2
ruff==0.7.2
setuptools==75.3.0
six==1.16.0
structlog==24.4.0
tzdata==2024.2
zipp==3.20.2
